
h3{
 background-color:blue
    color(srgb rgb(234, 9, 9) green blue)

}
   

ul{
    background-color: darkorchid;
}
ol{
    color: white;
    background-color: brown;
    font-size: bolder;
    text-decoration: solid;
}

